.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    // border: 1px solid red;
}

.content {
    // display: flex;
    // flex-direction: column;
    // flex-grow: 1;
    box-sizing: border-box;
    border: 1px solid green;
    flex: 1 1 auto;
    overflow: auto;
}