<div class="page-container">
    <div class="login-container">

        <mat-card class="example-card" appearance="outlined">
            <mat-card-header>
                <mat-card-title>
                    <h3>{{mode.toLocaleUpperCase()}}</h3>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form (ngSubmit)="onSubmit()" [formGroup]="form" autocomplete="off">
                    <!-- Username -->
                    <mat-form-field appearance="outline">
                        <mat-label>Username</mat-label>
                        <mat-icon matPrefix>person</mat-icon>
                        <input matInput type="text" (input)="updateErrorMsg('username')" formControlName="username"
                            placeholder="type your username here">
                        @if (form.controls['username'].invalid) {
                        <mat-error>{{errorMsg.username()}}</mat-error>
                        }
                    </mat-form-field>

                    <!-- Password -->
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <mat-icon matPrefix>lock</mat-icon>
                        <input matInput type="password" (input)="updateErrorMsg('password')" formControlName="password"
                            placeholder="type your password here">
                        @if (form.controls['password'].invalid) {
                        <mat-error>{{errorMsg.password()}}</mat-error>
                        }
                    </mat-form-field>

                    @if (mode !== 'login') {
                    <!-- Confirm Password -->
                    <mat-form-field appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <mat-icon matPrefix>lock_reset</mat-icon>
                        <input matInput type="password" (input)="updateErrorMsg('cf_password')"
                            formControlName="cf_password" placeholder="type your password here">
                        @if (form.controls['cf_password'].invalid) {
                        <mat-error>{{errorMsg.cf_password()}}</mat-error>
                        }
                    </mat-form-field>

                    <!-- Display name -->
                    <mat-form-field appearance="outline">
                        <mat-label>Aka</mat-label>
                        <mat-icon matPrefix>badge</mat-icon>
                        <input matInput type="text" (input)="updateErrorMsg('displayname')"
                            formControlName="display_name" placeholder="type your aka here">
                        @if (form.controls['display_name'].invalid) {
                        <mat-error>{{errorMsg.displayname()}}</mat-error>
                        }
                    </mat-form-field>
                    }

                    <button type="submit" class="login-button" [disabled]="!form.valid">
                        @if(mode==='login'){
                        Login
                        }
                        @if(mode!=='login'){
                        Get Started
                        }
                    </button>
                    @if (errorMsg.server() !== '') {
                    <span class="error">{{errorMsg.server()}}</span>
                    }
                </form>
                <div class="login-spacer">or</div>
                <div class="footer-actions">
                    @if (mode === 'login') {
                    <div class="toggle">New to Brawler? <span (click)="toggleMode()">Sign Up</span></div>
                    }
                    @if (mode !== 'login') {
                    <div class="toggle">Already have an account? <span (click)="toggleMode()">Sign In</span></div>
                    }
                </div>
            </mat-card-content>

        </mat-card>
    </div>
</div>