@if (notificationMessage) {
<div class="notification-overlay" (click)="closeNotification()">
    <div class="notification-card" (click)="$event.stopPropagation()">
        <mat-icon>info</mat-icon>
        <p>{{ notificationMessage }}</p>
    </div>
</div>
}

<div class="page-container">
    <div class="filter-form">
        <h3>Search</h3>
        <!-- FormsModule  -->
        <input type="text" [(ngModel)]="filter.name" placeholder="Mission Name" />
        <select [(ngModel)]="filter.status">
            <option value="">-- Select Status --</option>
            <option value="Open">Open</option>
            <option value="InProgress">In Progress</option>
            <option value="Completed">Completed</option>
            <option value="Failed">Failed</option>
        </select>
        <button (click)="onSubmit()">Go</button>
    </div>
    <div class="mission-list">
        @for (mission of missions$ | async; track mission.id) {
        <div class="mission-card">
            <div class="card-header">
                <h3>{{mission.name}}</h3>
                <div class="badges">
                    <div class="status-badge" [class]="mission.status">{{mission.status}}</div>
                    <div class="difficulty-badge" [class]="mission.difficulty">{{mission.difficulty}}</div>
                </div>
            </div>

            <div class="card-body">
                <div class="info-item full-width">
                    <label>Description</label>
                    <p>{{mission.description || 'No description provided'}}</p>
                </div>

                <div class="info-grid">
                    <div class="info-item">
                        <label>Chief</label>
                        <span>{{mission.chief_display_name}}</span>
                    </div>

                    <div class="info-item">
                        <label>Crew Members</label>
                        <span>{{mission.crew_count}} / {{mission.max_crew}}</span>
                    </div>

                    <div class="info-item">
                        <label>Created Date</label>
                        <span>{{mission.created_at | date:'mediumDate'}}</span>
                    </div>
                </div>
            </div>

            @if(isSignin() && mission.chief_id !== userId()){
            <div class="card-actions">
                @if(isMember(mission.id)) {
                <button class="warn" (click)="leave(mission.id)">Leave Mission</button>
                } @else {
                <button class="primary" (click)="join(mission.id)">Join Mission</button>
                }
            </div>
            }
        </div>
        }
    </div>
</div>